.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}
.slider-prev, .slider-next {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s ease;
}
.slider-prev:hover, .slider-next:hover {
    background: rgba(0, 0, 0, 0.8);
}

a:hover, a:focus, a:active {
    color: #1e73be;
}

.bottom-header-wrapper {
    background: #1e73be none repeat scroll 0 0
}

.bottom-header-wrapper::before {
    background: transparent none repeat scroll 0 0
}
.bottom-header-wrapper::after {
    background: transparent none repeat scroll 0 0
}
.bottom-header-wrapper>.bottom-arrow-wrap::before, .bottom-header-wrapper>.bottom-arrow-wrap::after {
    border-right: 10px solid transparent
}

#site-navigation ul.sub-menu, #site-navigation ul.children {
    background: #1e73be none repeat scroll 0 0
}

#site-navigation ul>li.current-menu-ancestor, #site-navigation ul>li.current-menu-item, #site-navigation ul>li.current-menu-parent, #site-navigation ul>li:hover, .bottom-header-wrapper .home-icon a:hover, .home .bottom-header-wrapper .home-icon a{
    background: rgb(17 17 17 / 30%)
}

.title-block-wrap {
    background: #1e73be none repeat scroll 0 0
}

#top-footer {
    background: #1e73be none repeat scroll 0 0
}
#bottom-footer {
    background: #1e73be none repeat scroll 0 0;
}

#bottom-footer .copy-right {
    color: #000;
}

.caption-wrapper{
    padding: 5px 40px;
}

.caption-title{
    font-size: 15px;
}
.home-slider .below-entry-meta-sidebar {
    position: relative;
    z-index: 10; /* Pastikan z-index lebih tinggi dari caption-wrapper */
    color: #fff; /* Teks putih untuk kontras yang lebih baik */
    padding: 0px 10px;
    border-radius: 5px;
    margin-top: 15px; /* Atur jarak dari elemen sebelumnya */
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    vertical-align: baseline;
}
.home-slider .below-entry-meta-sidebar a {
    color: #fff;
}

.below-entry-meta-sidebar span a, .below-entry-meta-sidebar span i {
    color: #fff;
}
.below-entry-meta-sidebar i {
    margin-right: 5px;
}

.widget .below-entry-meta-sidebar>span {
    margin-right: 15px;
}

.home-slider .bxslider-sidebar {
    margin: 0;
}

.post-content-wrapper {
    display: flex;
    align-items: flex-start; /* Menyelaraskan gambar dan konten di bagian atas */
    margin-bottom: 20px;
 }
 
 .figure-cat-wrap {
    flex: 0 0 30%; /* Mengatur lebar gambar 35% */
 }
 
 .featured-image {
    margin-right: 15px;
    overflow: hidden; /* Menyembunyikan bagian gambar yang keluar dari kontainer */
}

.featured-image img {
    width: 100%; /* Lebar gambar mengikuti lebar kontainer */
    height: auto; /* Menjaga rasio aspek gambar */
    max-width: 100%;
    aspect-ratio: 16 / 9; 
}

 .post-text-content {
    flex: 1; /* Menyediakan sisa ruang untuk konten teks */
    display: flex;
    flex-direction: column;
 }
 
 .entry-content {
    margin-top: auto; /* Menjaga agar konten tidak meluas melebihi batas bawah gambar */
    overflow: hidden; /* Menghindari konten melebihi batas */
    text-overflow: ellipsis; /* Menambahkan elipsis jika teks terlalu panjang */
 }
 
 /* Optional: Mengatur ukuran font agar konten tidak melebihi batas */
 .entry-content p {
    text-align: justify;
    
 }

 .post .posted-on>a
 {
    margin: 0;
 }

 .pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
 }
 
 .pagination a,
 .pagination span {
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
 }
 
 .pagination .current {
    background-color: #1e73be;
    color: #fff;
    border: 1px solid #333;
 }
 
 .pagination a:hover {
    background-color: #1e73be;
    color: #fff;
 }

 .home-search .searchform button[type="submit"]{
    background: #282c2f none repeat scroll 0 0;
 }
 
 .post .more-link {
    background: #1e73be none repeat scroll 0 0;
}

 .post .more-link:hover {
    background: rgb(30 115 190 / 80%);
 }

 #bottom-footer .copy-right a{
    color: #000;
    font-weight: bold;
 }
 #bottom-footer .copy-right a:hover{
    color: #fff;
 }

/* Artikel terakhir tidak memiliki border-bottom */
#blog-post article.hentry,
.search article.hentry,
.archive article.hentry,
.tag article.hentry,
.category article.hentry {
    border-bottom: none;
    padding-bottom: 0;  /* Hilangkan padding pada artikel terakhir */
    margin-bottom: 0;   /* Hilangkan margin pada artikel terakhir */
}

#breaking-news-list li a{
    color:#000;
}

#breaking-news-list li a:hover{
    color:#1e73be;
}

.cat-links a:hover{
    background: rgb(30 115 190 / 80%);
    color: #fff
}

article.post.hentry h1.entry-title {
    line-height: normal;
}

.everest-forms button[type="submit"] {
 background-color: #1e73be !important;
}

.everest-forms button[type="submit"]:hover {
    background: rgb(30 115 190 / 80%) !important;
}